.navbar {
    /* overflow: hidden; */
    /* background-color: #333; */
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    /* width: 100%; Full width */
}
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #776734;
  background-color: #fbfaf6;
  border-color: #f5f2e8; }

.alert-primary hr {
  border-top-color: #ede7d6; }

.alert-primary .alert-link {
  color: #534824; }

.badge-primary {
  color: #212529;
  background-color: #bda969; }

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #212529;
  background-color: #a8924a; }

.bg-primary {
  background-color: #bda969 !important; }

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #a8924a !important; }

.border-primary {
  border-color: #bda969 !important; }

.btn-primary {
  /* color: $primary_text_color_dark_bright; */
  color: white;
  background-color: #bda969;
  border-color: #bda969; }

.btn-primary:hover {
  /* color: $primary_text_color_dark_bright; */
  color: white;
  background-color: #b29a50;
  border-color: #a8924a; }

.btn-primary:focus, .btn-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 169, 105, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(189, 169, 105, 0.5); }

.btn-primary.disabled, .btn-primary:disabled {
  /* color: $primary_text_color_dark_bright; */
  color: white;
  background-color: #bda969;
  border-color: #bda969; }

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  /* color: $primary_text_color_dark_bright; */
  color: white;
  background-color: #a8924a;
  border-color: #9e8945; }

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 169, 105, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(189, 169, 105, 0.5); }

.btn-outline-primary {
  color: #bda969;
  background-color: transparent;
  border-color: #bda969; }

.btn-outline-primary:hover {
  color: #212529;
  background-color: #bda969;
  border-color: #bda969; }

.btn-outline-primary:focus, .btn-outline-primary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 169, 105, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(189, 169, 105, 0.5); }

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #bda969;
  background-color: transparent; }

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #212529;
  background-color: #bda969;
  border-color: #bda969; }

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(189, 169, 105, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(189, 169, 105, 0.5); }

.list-group-item-primary {
  color: #776734;
  background-color: #f5f2e8; }

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #776734;
  background-color: #ede7d6; }

.list-group-item-primary.list-group-item-action.active {
  color: #212529;
  background-color: #776734;
  border-color: #776734; }

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #f5f2e8; }

.table-hover .table-primary:hover {
  background-color: #ede7d6; }

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #ede7d6; }

.text-primary {
  color: #bda969 !important; }

a.text-primary:hover, a.text-primary:focus {
  color: #a8924a !important; }

/*------------------------------------
- COLOR secondary
------------------------------------*/
.alert-secondary {
  color: #000000;
  background-color: #86be97;
  border-color: #78b78b; }

.alert-secondary hr {
  border-top-color: #68ae7d; }

.alert-secondary .alert-link {
  color: #000000; }

.badge-secondary {
  color: #fff;
  background-color: #2a4f35; }

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
  color: #fff;
  background-color: #182d1e; }

.bg-secondary {
  background-color: #2a4f35 !important; }

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: #182d1e !important; }

.border-secondary {
  border-color: #2a4f35 !important; }

.btn-secondary {
  color: #fff;
  background-color: #2a4f35;
  border-color: #2a4f35; }

.btn-secondary:hover {
  color: #fff;
  background-color: #1d3725;
  border-color: #182d1e; }

.btn-secondary:focus, .btn-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(42, 79, 53, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(42, 79, 53, 0.5); }

.btn-secondary.disabled, .btn-secondary:disabled {
  color: #fff;
  background-color: #2a4f35;
  border-color: #2a4f35; }

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #182d1e;
  border-color: #122317; }

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(42, 79, 53, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(42, 79, 53, 0.5); }

.btn-outline-secondary {
  color: #2a4f35;
  background-color: transparent;
  border-color: #2a4f35; }

.btn-outline-secondary:hover {
  color: #fff;
  background-color: #2a4f35;
  border-color: #2a4f35; }

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(42, 79, 53, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(42, 79, 53, 0.5); }

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: #2a4f35;
  background-color: transparent; }

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #2a4f35;
  border-color: #2a4f35; }

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(42, 79, 53, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(42, 79, 53, 0.5); }

.list-group-item-secondary {
  color: #000000;
  background-color: #78b78b; }

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
  color: #000000;
  background-color: #68ae7d; }

.list-group-item-secondary.list-group-item-action.active {
  color: #fff;
  background-color: #000000;
  border-color: #000000; }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #78b78b; }

.table-hover .table-secondary:hover {
  background-color: #68ae7d; }

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: #68ae7d; }

.text-secondary {
  color: #2a4f35 !important; }

a.text-secondary:hover, a.text-secondary:focus {
  color: #182d1e !important; }

.degradado {
  background-color: #86be97; }




