
/*------------------------------------
- COLOR primary
------------------------------------*/

$primary_t1: #ddc373;
$primary_t2: #d3b149;
$primary_t3: #fbf9f2;
$primary_t4: #100102106;
$primary_t5: #ab8b29;
$primary_t6: #d0ac3d;
$primary_t7: #d6b656;
$primary_t8: #826a1f;
$primary_t9: #104109117;

$primary_shadow: rgba(189, 169, 105, 0.5);
$primary_text_color_dark_bright: #212529;


.alert-primary {
  color: $primary_t5;
  background-color: $primary_t9;
  border-color: $primary_t4;
}

.alert-primary hr {
  border-top-color: $primary_t3;
}

.alert-primary .alert-link {
  color: $primary_t8;
}

.badge-primary {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
}

.bg-primary {
  background-color: $primary_t1 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: $primary_t2 !important;
}

.border-primary {
  border-color: $primary_t1 !important;
}

.btn-primary {
  /* color: $primary_text_color_dark_bright; */
  color: white;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:hover {
  /* color: $primary_text_color_dark_bright; */
  color: white;
  background-color: $primary_t7;
  border-color: $primary_t2;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-primary.disabled, .btn-primary:disabled {
  /* color: $primary_text_color_dark_bright; */
  color: white;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  /* color: $primary_text_color_dark_bright; */
  color: white;
  background-color: $primary_t2;
  border-color: $primary_t6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary {
  color: $primary_t1;
  background-color: transparent;
  border-color: $primary_t1;
}

.btn-outline-primary:hover {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $primary_t1;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.list-group-item-primary {
  color: $primary_t5;
  background-color: $primary_t4;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: $primary_t5;
  background-color: $primary_t3;
}

.list-group-item-primary.list-group-item-action.active {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t5;
  border-color: $primary_t5;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: $primary_t4;
}

.table-hover .table-primary:hover {
  background-color: $primary_t3;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: $primary_t3;
}

.text-primary {
  color: $primary_t1 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: $primary_t2 !important;
}


/*------------------------------------
- COLOR secondary
------------------------------------*/

$secondary_t1: #2c683d;
$secondary_t2: #1c4427;
$secondary_t3: #6fc287;
$secondary_t4: #81c996;
$secondary_t5: #07110a;
$secondary_t6: #183921;
$secondary_t7: #214e2e;
$secondary_t8: #000000;
$secondary_t9: #8fd0a2;

$secondary_shadow: rgba(42, 79, 53, 0.5);
$secondary_text_color_dark_bright: #fff;


.alert-secondary {
  color: $secondary_t5;
  background-color: $secondary_t9;
  border-color: $secondary_t4;
}

.alert-secondary hr {
  border-top-color: $secondary_t3;
}

.alert-secondary .alert-link {
  color: $secondary_t8;
}

.badge-secondary {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
}

.badge-secondary[href]:hover, .badge-secondary[href]:focus {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t2;
}

.bg-secondary {
  background-color: $secondary_t1 !important;
}

a.bg-secondary:hover, a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus {
  background-color: $secondary_t2 !important;
}

.border-secondary {
  border-color: $secondary_t1 !important;
}

.btn-secondary {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
  border-color: $secondary_t1;
}

.btn-secondary:hover {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t7;
  border-color: $secondary_t2;
}

.btn-secondary:focus, .btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem $secondary_shadow;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
  border-color: $secondary_t1;
}

.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t2;
  border-color: $secondary_t6;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $secondary_shadow;
}

.btn-outline-secondary {
  color: $secondary_t1;
  background-color: transparent;
  border-color: $secondary_t1;
}

.btn-outline-secondary:hover {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
  border-color: $secondary_t1;
}

.btn-outline-secondary:focus, .btn-outline-secondary.focus {
  box-shadow: 0 0 0 0.2rem $secondary_shadow;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
  color: $secondary_t1;
  background-color: transparent;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t1;
  border-color: $secondary_t1;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $secondary_shadow;
}

.list-group-item-secondary {
  color: $secondary_t5;
  background-color: $secondary_t4;
}

.list-group-item-secondary.list-group-item-action:hover, .list-group-item-secondary.list-group-item-action:focus {
  color: $secondary_t5;
  background-color: $secondary_t3;
}

.list-group-item-secondary.list-group-item-action.active {
  color: $secondary_text_color_dark_bright;
  background-color: $secondary_t5;
  border-color: $secondary_t5;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: $secondary_t4;
}

.table-hover .table-secondary:hover {
  background-color: $secondary_t3;
}

.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th {
  background-color: $secondary_t3;
}

.text-secondary {
  color: $secondary_t1 !important;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: $secondary_t2 !important;
}

.degradado{
	background-color: $secondary_t9;
}
