/* p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
}

button {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.0em;    
}

/* div#progressBar {
    width: 350px; 
    height: 100px;
}
 */
