<!-- MODAL DE ALERTA DE INFORMACIÓN -->
<div class="modal" id="alerta_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenteredLabel">¡Alerta del Sistema!</h5>
                <button type="button" class="close btnModal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p id="texto_mensaje_info" class="alert alert-warning msg-alerta"></p>
                <img src="imagenes/precaucion.png" width="300px"  alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btnModal" data-dismiss="modal" id="btnAceptarInfo">Aceptar</button>
            </div>
        </div>
    </div>
</div>