<h1 class="my-5">Formulario de contacto</h1>
<form>
	<input type="text" name="" placeholder="¿Dónde te habla tu mamá?">
	<input type="text" name="" placeholder="¿Dónde te podemos escribir un e-mail?"><br>
	<label>Cuéntanos lo que te acongoja...</label><br><br>
	<textarea></textarea>
</form>