
<div class="my-4">
	<h2 class="my-5 text-center">Sistema de Solicitud y Seguimiento de Evaluación de Protocolos</h2>
	<div class="offset-4 col-sm-4 col-md-4 col-lg-4 text-center">
    	<img class="text-center" src="imagenes/sss_wm.png" alt="" width="150">
    </div>
	<p>Modalidades de titulación con trabajo escrito.</p>
	<p>La evaluación profesional es el proceso académico mediante el cual el pasante demuestra su capacidad para desempeñarse en la indagación, creación y recreación del conocimiento, con el propósito de obtener el título profesional respectivo. Consiste en tomar protesta ante un jurado, sin la realización de un trabajo escrito.</p>
	<p>Si deseas obtener más información acerca de las modalidades de titulación, consulta el enlace siguiente</p>
	<a href="http://fingenieria.uaemex.mx/titulacion/modalidadesConTrabajo.html">Evaluación Profesional FI</a>
</div>