<div>
	<footer class="pie-pagina text-center text-md-right bg-secondary text-white">
		<div class="">
			<p class="m-0 py-3">Copyright © 2019. Todos los derechos reservados.</p>
		</div>
	</footer>
</div>