<script>
	var url = "js/tipos_trabajos/rac.js";
	$.getScript(url);
</script>
<form method="post">
	<h3>Reporte de Aplicación de Conocimientos</h3>
	<p>Consiste en la elaboración de un trabajo escrito en el que se reporta una propuesta de solución a un problema determinado, derivada de la aplicación de los conocimientos adquiridos durante la formación profesional.</p>
	<hr>
	<div class="form-group">
		<label for="formGroupTituloRAC">Título</label>
		<input type="text" class="form-control" id="formGroupTituloRAC" placeholder="Especificar claramente el qué, es decir, el objeto de estudio.">
	</div>
	<div class="form-group">
		<label for="formGroupAreaAcademica">Área académica <p style="color: red; display: inline;">*</p></label>
		<select id="formGroupAreaAcademica" class="form-control" placeholder="Another input">
			<option value="">Elija una opción</option>
		</select>
	</div>
    <div class="form-group">
    	<label for="formGroupAsesor">Asesor <p style="color: red; display: inline;">*</p></label>
    	<select id="formGroupAsesor" class="form-control formGroupAsesor">
			<option value="">Elija una opción</option>
		</select>
	</div>
	<div class="form-group">
		<label for="formGroupPlanteamientoRAC">Planteamiento del problema</label>
		<input type="text" class="form-control" id="formGroupPlanteamientoRAC" placeholder="• Exponer de manera general la problemática que se abordó y los conocimientos que se aplicaron para la resolución del problema. 
• Mostrar la actualidad y la relevancia del tema.
• Establecer la vinculación con el área de estudio.">
	</div>
	<div class="form-group">
		<label for="formGroupJustificacionRAC">Justificación</label>
		<textarea class="form-control rounded-0" id="formGroupJustificacionRAC" rows="10" placeholder="Exponer de forma clara y concisa la importancia, el impacto y los beneficios de la propuesta de solución. Así mismo, mencionar los alcances y limitaciones de la misma."></textarea>
	</div>
	<div class="form-group">
		<label for="formGroupObjetivoGeneralRAC">Objetivo general</label>
		<textarea class="form-control rounded-0" id="formGroupObjetivoGeneralRAC" rows="10" placeholder="Describir las actividades realizadas dentro de la unidad económica. Incluir verbo en infinitivo que esté relacionado con el sentido de ‘describir o documentar’, entre otros."></textarea>
	</div>
	<div class="form-group">
		<label for="formGroupMetodologiaRAC">Metodología</label>
		<textarea class="form-control rounded-0" id="formGroupMetodologiaRAC" rows="10" placeholder="Describir las técnicas y los métodos para alcanzar el objetivo planteado. "></textarea>
	</div>
	<div class="form-group">
		<label for="formGroupReferenciasRAC">Referencias y/o fuentes de información</label>
		<textarea class="form-control rounded-0" id="formGroupReferenciasRAC" rows="10" placeholder="Citar  las fuentes académicas oficiales consultadas (revistas, artículos, libros y páginas  de empresas e instituciones reconocidas) y definir el sistema de referencias seleccionado (Harvard, Chicago, Vancouver, APA, Sistema Numerado)."></textarea>
	</div>
	<div class="form-group">
		<label for="formGroupCronograma">Cronograma de actividades</label>
		<div class="alert alert-info" role="alert">
			Incluir la secuencia en que realizará las actividades relativas al trabajo. El número en las columnas indica el tiempo en meses, con un máximo de 24 meses (2 años).
		</div>
		<table class="table table-responsive jsontotable" border="1" id="cronograma-rac" >
			<thead class="bg-secondary text-white">
				<tr>
					<th></th>
					<th>#</th>
					<th>Actividad</th>
					<th>1</th>
					<th>2</th>
					<th>3</th>
					<th>4</th>
					<th>5</th>
					<th>6</th>
					<th>7</th>
					<th>8</th>
					<th>9</th>
					<th>10</th>
					<th>11</th>
					<th>12</th>
					<th>13</th>
					<th>14</th>
					<th>15</th>
					<th>16</th>
					<th>17</th>
					<th>18</th>
					<th>19</th>
					<th>20</th>
					<th>21</th>
					<th>22</th>
					<th>23</th>
					<th>24</th>
			    </tr>
			</thead>
  			<tbody id="contenido-actividad" class="jsontotable">
  				
			</tbody>
		</table>
		<br>
		<div class="text-center">
			<p>Agregar actividad</p>
			<input id="campoActividad" type="text" placeholder="Nombre de la actividad">
			<a class="text-right btnAgregarActividad btn btn-primary" href="#">Agregar Actividad</a>
			<p class="alert alert-danger" id="alertaActividad" style="display: none;">Primero debe asignar un nombre de la actividad.</p>
		</div>
		<hr>
	</div>
	<div class="alert alert-info" role="alert">
		<strong>NOTA:</strong> El tema tendrá una vigencia de dos años, a partir de la fecha de aceptación (Ver Art. 86, Fracc. VII, del Reglamento de Evaluación Profesional).
	</div>
	<p style="font-style: italic; font-size: 12px;">Los campos marcados con un asterisco (*) son obligatorios para poder guardar el protocolo. Todos los campos son obligatorios para registrar la solicitud</p>
</form>
<div class="text-center">
	<button id="btnActualizarProtocoloModal" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#actualizarModal">Actualizar</button>
	<button id="btnGuardarProtocoloModal" type="button" class="btn btn-secondary" data-toggle="modal" data-target="">Guardar</button>
	<button id="btnRegistrarSolicitud" class="btn btn-secondary" data-toggle="modal" data-target="">Registrar Solicitud</button>
</div>
<!-- MODAL PARA GUARDAR POR PRIMERA VEZ EL PROTOCOLO -->
<div class="modal" id="guardarModal" tabindex="-1" role="dialog" aria-labelledby="guardarModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="guardarModalLabel">Guardar protocolo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="alert alert-info">Al dar click en el botón guardar, todos los campos serán guardados en nuestros servidores. Con esto podrás, posteriormente continuar con la edición de tu protocolo.</p>
				<p class="alert alert-danger"><strong>NO</strong> se generará <strong>NINGUNA SOLICITUD</strong> con esta acción.</strong></p>
		    </div>
		  	<div class="modal-footer">
		    	<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
		    	<button id="btnGuardarProtocoloRAC" type="button" class="btn btn-secondary">Guardar</button>
		  	</div>
		</div>
	</div>
</div>
<!-- MODAL PARA ACTUALIZAR EL PROTOCOLO -->
<div class="modal" id="actualizarModal" tabindex="-1" role="dialog" aria-labelledby="actualizarModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="actualizarModalLabel">Actualización de protocolo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="alert alert-info">Los datos serán actualizados en el sistema. Recuerda que después podrás continuar editando tu solicitud del protocolo.</p>
				<p class="alert alert-danger"><strong>NO</strong> se generará <strong>NINGUNA SOLICITUD</strong> con esta acción.</strong></p>
		    </div>
		  	<div class="modal-footer">
		    	<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
		    	<button id="btnActualizarProtocoloRAC" type="button" class="btn btn-secondary">Actualizar</button>
		  	</div>
		</div>
	</div>
</div>
<!-- MODAL PARA REGISTRAR EL PROTOCOLO -->
<div class="modal" id="registroModal" tabindex="-1" role="dialog" aria-labelledby="registrarModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="actualizarModalLabel">Registro de solicitud protocolo</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="alert alert-info">Estás apunto de generar la solicitud de revisión del protocolo. Ten en cuenta que una vez enviada la solicitud, pasará por un proceso que dura N días. Durante ese lapso de tiempo no podrás generar nuevas solicitudes, ni borradores de protocolos, pero sí podrás verificar el estado de tu solicitud en el apartad "Estado del proceso de evaluación del protocolo"</p>
		    </div>
		  	<div class="modal-footer">
		    	<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
		    	<button id="btnRegistrarProtocoloRAC" type="button" class="btn btn-secondary">Registrar</button>
		  	</div>
		</div>
	</div>
</div>